<div class="bg-img">
  <div class="container">
    <div class="row justify-content-center align-items-center pb-4">
      <div class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 shadow mt-3">
        <div class="row bg-white pt-2">
          <div class="col">
            <div class="px-3 py-4">
              <img src="../../assets/logo.png" alt="" height="100" class="mx-auto d-block">
              <h3 class="mt-1 pb-1 font-playfair text-center">{{isLogin ? 'Iniciar sesión' : 'Registrarse'}}</h3>

              <app-login *ngIf="isLogin; else elseBlock"></app-login>

              <ng-template #elseBlock>
                <app-signup></app-signup>
              </ng-template>

              <div class="small text-center mb-2">
                <a role="button" (click)="isLogin = !isLogin" class="text-muted">
                  {{isLogin ? 'Crea una cuenta' : '¿Ya tienes una cuenta?, inicia sesión'}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
