<div class="container-fluid mb-5">
  <form #inmuebleForm="ngForm" (ngSubmit)='true' action="">

    <div class="div mb-3">
      <h1 class="font-playfair">Nuevo Inmueble</h1>
      <h5 class="">Información básica del inmueble:</h5>
      <p>La siguiente información se mostrará en la tarjeta de presentación del inmueble.</p>
    </div>

    <div class="mb-5 row align-items-end">
      <div class="col">
        <label for="pais" class="form-label">País:</label>
          <select ngModel required #pais="ngModel" name="pais" class="form-select" id="pais">
            <option *ngFor="let pais of paises" [value]="pais.nombre">{{ pais.nombre }}</option>
          </select>
      </div>
      <div class="col">
        <label for="estado" class="form-label">Estado:</label>
        <select ngModel required name="estado" class="form-select" id="estado">
          <ng-container *ngIf="pais.value">
            <option *ngFor="let estado of paises[getIndexPais(pais.value)].estados" [value]="estado">{{ estado }}</option>
          </ng-container>
        </select>
      </div>
      <div class="col">
          <label for="ciudad" class="form-label">Ciudad:</label>
          <select ngModel required name="ciudad" class="form-select" id="ciudad">
            <ng-container *ngIf="pais.value">
              <option *ngFor="let ciudad of paises[getIndexPais(pais.value)].ciudades" [value]="ciudad">{{ ciudad }}</option>
            </ng-container>
          </select>
      </div>
    </div>

    <div class="mb-5 row align-items-end">
      <div class="col">
        <label for="tipoInmueble" class="form-label">Tipo de inmueble:</label>
          <select ngModel required name="tipoInmueble" class="form-select" id="tipoInmueble">
            <option value="Casa">Casa</option>
            <option value="Casa + Anexo">Casa + Anexo</option>
            <option value="Townhouse">Townhouse</option>
            <option value="Vacacional o secundario">Vacacional o secundario</option>
            <option value="Comercial / Inversión">Comercial / Inversión</option>
            <option value="Otro">Otro</option>
          </select>
      </div>
      <label for="staticEmail" class="col-auto col-form-label">en</label>
      <div class="col">
        <label for="operacion" class="form-label">Operación:</label>
        <select ngModel required name="operacion" class="form-select" id="operacion">
          <option value="Venta">Venta</option>
          <option value="Alquiler">Alquiler</option>
        </select>
      </div>
      <label for="staticEmail" class="col-auto col-form-label text-end">en</label>
      <div class="col">
        <label for="zona" class="form-label">Zona del inmueble:</label>
        <input ngModel required name="zona"  type="text" class="form-control" id="zona" placeholder="Colinas de los Ruices">
      </div>
      <label for="staticEmail" class="col-auto col-form-label text-end">a</label>
      <div class="col">
        <label for="precio" class="form-label">Precio:</label>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input ngModel required name="precio" type="number" id="precio" class="form-control">
        </div>
      </div>
    </div>

    <div class="row mb-5 align-items-end">
      <div class="col">
        <label for="metrosTotales" class="form-label">Metros cuadrados <strong>totales:</strong></label>
        <div class="input-group">
          <input ngModel required name="metrosTotales" type="number" id="metrosTotales" class="form-control">
          <span class="input-group-text">m<sup>2</sup></span>
        </div>
      </div>
      <div class="col">
        <label for="estacionamientos" class="form-label">Estacionamientos:</label>
        <input ngModel required name="estacionamientos" type="number" class="form-control" id="estacionamientos">
      </div>
      <div class="col">
        <label for="habitaciones" class="form-label">Número de habitaciones:</label>
        <input ngModel required name="habitaciones" type="number" class="form-control" id="habitaciones">
      </div>
      <div class="col">
        <label for="banos" class="form-label">Número de baños:</label>
        <input ngModel required name="banos" type="number" class="form-control" id="banos">
      </div>
    </div>

    <hr>

    <div class="row mb-3">
      <h5 class="">Información detallada del inmueble:</h5>
      <p>La siguiente información se mostrará en la página de detalles del inmueble.</p>
    </div>

    <div class="row mb-3 align-items-end">
      <div class="col">
        <label for="direccion" class="form-label">Dirección completa del inmueble:</label>
        <input ngModel required name="direccion" type="text" class="form-control" id="direccion" placeholder="Urbanización Caurimare, calle B, quinta Rosa.">
      </div>
      <div class="col-2">
        <label for="codigoPostal" class="form-label">Código postal:</label>
        <input ngModel name="codigoPostal" type="number" class="form-control" id="codigoPostal">
      </div>
    </div>

    <div class="row mb-3 align-items-end">
      <div class="col">
        <label for="metrosConstruccion" class="form-label">Metros cuadrados de <strong>construcción:</strong></label>
        <div class="input-group">
          <input ngModel required name="metrosConstruccion" type="text" class="form-control" id="metrosConstruccion">
          <span class="input-group-text">m<sup>2</sup></span>
        </div>
      </div>
      <div class="col-auto">
        <label for="estadoConservacion" class="form-label">Estado de conservación:</label>
        <select ngModel required name="estadoConservacion" class="form-select" id="estadoConservacion">
            <option value="Original">Original</option>
            <option value="Remodelado hace más de 10 años">Remodelado hace más de 10 años</option>
            <option value="Actualizado recientemente">Actualizado recientemente</option>
        </select>
      </div>
      <div class="col">
        <label for="seguridad" class="form-label">Seguridad:</label>
        <select ngModel required name="seguridad" class="form-select" id="seguridad">
            <option value="Calle cerrada">Calle cerrada</option>
            <option value="Calle abierta">Calle abierta</option>
        </select>
      </div>
      <div class="col">
        <label for="equipamiento" class="form-label">Equipamiento:</label>
        <select ngModel required name="equipamiento" class="form-select" id="equipamiento">
            <option value="Amoblado">Amoblado</option>
            <option value="Sin amoblar">Sin amoblar</option>
        </select>
      </div>
    </div>

    <div class="row mb-5 align-items-end">
      <div class="col">
          <label for="descripcion" class="form-label">Descripción del inmueble:</label>
          <textarea ngModel required name="descripcion" class="form-control" id="descripcion" rows="3"></textarea>
      </div>
    </div>

    <hr>

    <!-- SECCION DE IMAGENES -->
    <div class="row mb-3">
      <h5 class="">Imágenes del inmueble:</h5>
      <p>La siguiente información se mostrará en la página de detalles del inmueble.</p>
    </div>

      <div class="row">
        <div class="col">
          <div class="dropzone align-items-center justify-content-center py-5 flex-column bg-white my-4 d-flex"
          appDropzone
          (hovered)="toggleHover($event)"
          (dropped)="onDrop($event)"
          [class.hovering]="isHovering"
          >

          <h3>Subir imágenes</h3>
          <p>Arrastra las imagenes aqui o selecciónalas manualmente:</p>
          <label class="file-label">
            <input id="files" multiple class="form-control" type="file" (change)="onDrop($event.target.files)">
          </label>

        </div>

        <h3>Cargas:</h3>
        <div class="container-fluid overflow-hidden">
          <div  class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-5">
            <div *ngFor="let file of files" class="col">
              <app-upload-task (removeUrl)="removeUrl($event)" (urlEvent)="receiveUrl($event)" [file]="file"></app-upload-task>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col">
          <!-- <button (click)="printUrls()" class="btn boton-dorado text-white border-0 shadow">PrintUrls</button> -->
          <button (click)="onCancelar()" class="btn btn-danger border-0 shadow">Cancelar</button>
          <button [disabled]="!inmuebleForm.valid" (click)="onCrearInmueble(inmuebleForm)" class="btn boton-dorado text-white border-0 shadow float-end">Crear inmueble</button>
        </div>
      </div>


  </form>
</div>
