<div class="container-fluid mb-5">
  <form #propiedadForm="ngForm" (ngSubmit)='true' action="">

      <div class="div mb-3">
        <h5 class="">Información básica del inmueble:</h5>
        <p>La siguiente información se mostrará en la tarjeta de presentación del inmueble.</p>
      </div>

      <div class="mb-5 row align-items-end">

        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">País:</label>
            <select ngModel required name="pais" class="form-select" aria-label="Default select example">
              <option value="Venta">Venezuela</option>
              <option value="Alquiler">Estados Unidos</option>
            </select>
        </div>

        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Estado:</label>
          <select ngModel required name="estado" class="form-select" aria-label="Default select example">
            <option value="Venta">Miranda</option>
            <option value="Alquiler">Distrito Capital</option>
          </select>
        </div>

        <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Ciudad:</label>
            <select ngModel required name="ciudad" class="form-select" aria-label="Default select example">
              <option value="Venta">Caracas</option>
              <option value="Alquiler"></option>
            </select>
        </div>

      </div>

      <div class="mb-5 row align-items-end">

        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Tipo de inmueble:</label>
            <select ngModel required name="tipoInmueble" class="form-select" aria-label="Default select example">
              <option value="Venta">Casa</option>
              <option value="Alquiler">Apartamento</option>
            </select>
        </div>

        <label for="staticEmail" class="col-auto col-form-label">en</label>

        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Operación:</label>
          <select ngModel required name="operacion" class="form-select" aria-label="Default select example">
            <option value="Venta">Venta</option>
            <option value="Alquiler">Alquiler</option>
          </select>
        </div>

        <label for="staticEmail" class="col-auto col-form-label text-end">en</label>

        <div class="col">
            <label for="exampleFormControlInput1" class="form-label">Zona del inmueble:</label>
            <input ngModel required name="zona"  type="text" class="form-control" id="exampleFormControlInput1" placeholder="Colinas de los Ruices">
        </div>

        <label for="staticEmail" class="col-auto col-form-label text-end">a</label>

        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Precio:</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input ngModel required name="precio" type="number" class="form-control">
          </div>
        </div>

      </div>

      <div class="row mb-5 align-items-end">
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Metros cuadrados <strong>totales:</strong></label>
          <div class="input-group">
            <input ngModel required name="metrosTotales" type="text" class="form-control">
            <span class="input-group-text">m<sup>2</sup></span>
          </div>
        </div>
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Estacionamientos:</label>
          <input ngModel required name="estacionamientos" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Número de habitaciones:</label>
          <input ngModel required name="habitaciones" type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Número de baños:</label>
          <input ngModel required name="banos" type="text" class="form-control" id="exampleFormControlInput1">
        </div>

      </div>

      <hr>

      <div class="row mb-3">
        <h5 class="">Información detallada del inmueble:</h5>
        <p>La siguiente información se mostrará en la página de detalles del inmueble.</p>
      </div>

      <div class="row mb-3 align-items-end">

        <div class="col">
          <label for="exampleFormControlInput1" class="form-label">Dirección completa del inmueble:</label>
          <input ngModel required name="direccion" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Colinas de los Ruices">
        </div>

      </div>

      <div class="row mb-3 align-items-end">

        <div class="col-auto">
          <label for="exampleFormControlInput1" class="form-label">Metros cuadrados de <strong>construcción:</strong></label>
          <div class="input-group">
            <input ngModel required name="metrosConstruccion" type="text" class="form-control">
            <span class="input-group-text">m<sup>2</sup></span>
          </div>
        </div>
      </div>

      <div class="row mb-5 align-items-end">

        <div class="col">
            <label for="exampleFormControlTextarea1" class="form-label">Descripción del inmueble:</label>
            <textarea ngModel required name="descripción" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

      </div>

      <hr>

      <div class="row mb-3">
        <h5 class="">Imágenes del inmueble:</h5>
        <p>La siguiente información se mostrará en la página de detalles del inmueble.</p>
      </div>

      <div class="row">
        <div class="col col-xl-8">

          <app-uploader></app-uploader>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button class="btn boton-dorado text-white border-0 shadow">Crear inmueble</button>
        </div>
      </div>


  </form>
</div>
