 <nav class="navbar flex-shrink-0 sticky-top navbar-expand-lg navbar-light bg-white py-2 shadow flex-nowrap"><!-- O FIXED TOP -->
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo.png" alt="" height="50" class="d-inline-block align-text-top">
    </a>
    <a class="navbar-brand fw-lighter fs-5 text-uppercase font-playfair d-none d-md-inline-block" href="#">Eagle Investment Projects C.A.</a>
    <a class="navbar-brand fw-lighter fs-5 text-uppercase font-playfair d-inline-block d-md-none" href="#">Eagle</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pe-3">
        <li class="nav-item">
          <a class="nav-link" routerLink="/inicio" routerLinkActive="active" aria-current="page">Inicio</a>
        </li>
        <li *ngIf="!userFb" class="nav-item">
          <a class="nav-link" routerLink="/auth" routerLinkActive="active">Iniciar Sesión</a>
        </li>
        <li *ngIf="userFb" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Usuario
          </a>
          <ul class="dropdown-menu rounded-0 border-0 shadow" aria-labelledby="navbarDropdown">
            <li *ngIf="usuario"><a [routerLink]="'/dashboard/'+usuario.uid" class="dropdown-item">Tablero</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a role="button" (click)="logout()" class="dropdown-item">Logout</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <button routerLink="/busqueda" class="btn btn-sm fondo-dorado bg-gradient border-0s text-white">Inmuebles</button>
      </form>
    </div>
  </div>
</nav>
