<div class="container pt-5">
  <div class="row">
    <div class="col">
      <h1 class="font-playfair mb-4">Mi perfil</h1>
    </div>
  </div>
  <div class="row mb-3 justify-content-center">
    <div class="col-3">
      <img src="../../assets/profile.jpg" class="rounded-circle img-fluid" alt="">
    </div>
    <div class="col-4 align-self-center">
      <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>
      <h5 class="text-muted">{{ usuario.titulo }}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="font-playfair mb-4">Contacto</h1>
    </div>
  </div>
  <div class="row">
    <div class="col rounded shadow px-4 pt-4 mx-5">
      <p><span class="fw-bold">Correo: </span>ale.jf09@gmail.com</p>
      <p><span class="fw-bold">Teléfonos: </span>0412-3333798 / 0212-2570948</p>
      <p><span class="fw-bold">País: </span>Venezuela</p>
      <p><span class="fw-bold">Estado: </span>Miranda</p>
    </div>
    <div class="col">

    </div>
  </div>

</div>
