 <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light mb-4 py-3 shadow"><!-- O FIXED TOP -->
  <div class="container">
    <a class="navbar-brand fw-lighter fs-5 text-uppercase" href="#">Eagle Investment Projects C.A.</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex" id="navbarTogglerDemo02">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pe-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control form-control-sm rounded-0 border-dark border-end-0" type="search" placeholder="Busqueda por zona" aria-label="Search">
        <button class="btn btn-outline-dark rounded-0" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
