<form action="">
  <h2 class="mb-0">Caracas</h2>
  <p class="text-muted">50 resultados</p>
  <div class="mb-2">
    <label for="ciudad"><h6>Ciudad</h6></label>
    <select class="form-select form-select-sm rounded-0 border-0" aria-label="ciudad">
      <option selected>Caracas</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="mb-2">
    <label for="inmueble"><h6>Inmueble</h6></label>
    <div class="form-check form-control-sm py-0 mb-0 ">
      <input class="form-check-input rounded-0 bg-secondary border-0" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Todo
      </label>
    </div>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Casa
      </label>
    </div>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
      <label class="form-check-label" for="flexCheckChecked">
        Apartamento
      </label>
    </div>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
      <label class="form-check-label" for="flexCheckChecked">
        Oficina
      </label>
    </div>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
      <label class="form-check-label" for="flexCheckChecked">
        Terreno
      </label>
    </div>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
      <label class="form-check-label" for="flexCheckChecked">
        Galpón
      </label>
    </div>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
      <label class="form-check-label" for="flexCheckChecked">
        Otros
      </label>
    </div>
  </div>
  <div class="mb-2">
    <label for="ciudad"><h6>Operación</h6></label>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Venta
      </label>
    </div>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Alquiler
      </label>
    </div>
  </div>
  <div class="mb-2">
    <label for="ciudad"><h6>Precio</h6></label>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Menos de 150k
      </label>
    </div>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        150k - 200k
      </label>
    </div>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Más de 200k
      </label>
    </div>
  </div>
  <div class="mb-2">
    <label for="ciudad"><h6>Habitaciones</h6></label>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        1
      </label>
    </div>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        2
      </label>
    </div>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        3
      </label>
    </div>
    <div class="form-check form-control-sm py-0 mb-0">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        4 o más
      </label>
    </div>
  </div>
  <div class="mb-2">
    <label for="ciudad"><h6>Baños</h6></label>
    <select class="form-select form-select-sm" aria-label="ciudad">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="mb-2">
    <label for="ciudad"><h6>Superficie Total</h6></label>
    <select class="form-select form-select-sm" aria-label="ciudad">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="mb-2">
    <label for="ciudad"><h6>Superficie construida</h6></label>
    <select class="form-select form-select-sm" aria-label="ciudad">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  <div class="mb-2">
    <label for="ciudad"><h6>Ciudad</h6></label>
    <select class="form-select form-select-sm" aria-label="ciudad">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

</form>
