

              <!-- <div *ngIf="error" class="alert alert-danger">
                <p>{{ error }}</p>
              </div> -->

              <!-- <div *ngIf="isLoading" class="d-flex justify-content-center">
                <div
                  style="text-align: center; width: 3rem; height: 3rem;"
                  class="spinner-border text-primary align-self-center"
                  role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div> -->
              <!-- *ngIf="!isLoading" -->
              <!-- (ngSubmit)="onSubmit(authForm)" -->

              <!-- FORMULARIO DE INICIO DE SESION -->

            <form #authForm="ngForm" (ngSubmit)="onLoginEmail(authForm)">
              <div *ngIf="errorMessage" class="alert alert-danger d-flex align-items-center small" role="alert">
                <div>
                  {{ errorMessage }}
                </div>
              </div>

              <div class="pb-2">
                <label class="text-muted label-small spacing">EMAIL</label>
                <input type="email" class="form-control rounded-0 border-0 input py-2" email required ngModel name="email">
              </div>
              <div class="pb-2">
                <label class="text-muted label-small spacing">CONTRASEÑA</label>
                <input type="password" class="form-control rounded-0 border-0 input py-2" required #password="ngModel" ngModel name="password">
                <div *ngIf="isLogin" class="text-end">
                  <a class="text-muted small" href="#">Olvidé mi contraseña</a>
                </div>
              </div>
              <div class="pt-2 mb-4 d-grid">
                <button type="submit"
                  [disabled]="!authForm.valid"
                  class="btn btn-golden text-white shadow rounded-0 fondo-dorado bg-gradient border-0 py-3 ingresar-button">
                  INGRESAR
                </button>
              </div>
            </form>

            <div class="small text-center mb-1">o accede utilizando:</div>
            <div class="pb-2 text-center mb-3">
              <button (click)="onLoginGoogle()" type="button" class="btn btn-danger rounded-pill px-3 me-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                  <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                </svg>
              </button>
            </div>


