<div class="dropzone align-items-center justify-content-center py-5 flex-column bg-white my-4 d-flex"
  appDropzone
  (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)"
  [class.hovering]="isHovering"
  >

  <h3>Subir imágenes</h3>
  <p>Arrastra las imagenes aqui o selecciónalas manualmente:</p>
  <label class="file-label">
    <input id="files" multiple class="form-control" type="file" (change)="onDrop($event.target.files)">
  </label>

</div>

<h3>Cargas:</h3>
<div class="container-fluid overflow-hidden">
  <div  class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-5">
    <div *ngFor="let file of files" class="col">
      <app-upload-task [file]="file"></app-upload-task>
    </div>
  </div>
</div>

