
.ingresar-button {
  letter-spacing: 2px;
}

.bg-img {
  background-image: url(../../assets/city1.jpg);
  background-size: cover;
  // background-position: center bottom;
}

.btn-golden:hover {
  background-color: hsl(39, 66%, 50%);
}


// .vertical-center {
//   min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
//   min-height: 100vh; /* These two lines are counted as one :-)       */

//   align-items: center;
// }
