<div class="container pt-5">
  <div class="row">
    <div class="col">
      <h1 class="font-playfair">Mis inmuebles</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button role="link" routerLink="../nuevo-inmueble" class="btn boton-dorado bg-gradient text-white shadow float-end">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-lg me-2" viewBox="0 0 16 16">
          <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
        </svg>
        Agregar inmueble
      </button>
    </div>
  </div>
  <div class="table-responsive pt-4 ">
    <table class="table">
      <thead class="fondo-dorado bg-gradient text-white">
        <tr>
          <th scope="col">Operación</th>
          <th scope="col">Inmueble</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Zona</th>
          <th scope="col">Precio</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let inmueble of inmuebles">
          <tr *ngIf="inmueble.activo != 'eliminado'"  [ngClass]="{'resuelto': inmueble.activo == 'inactivo'}">
            <td>{{ inmueble.operacion }}</td>
            <td>{{ inmueble.tipoInmueble }}</td>
            <td>{{ inmueble.ciudad }}</td>
            <td>{{ inmueble.zona }}</td>
            <td>{{ inmueble.precio }}</td>
            <td>
              <button [routerLink]="'/inmuebles/inmueble/'+inmueble.id" class="btn btn-sm btn-info float-end">Ver</button>
            </td>
            <td>
              <button [routerLink]="'../editar-inmueble/'+inmueble.id" class="btn btn-sm btn-secondary float-end">Editar</button>
            </td>
            <td>
              <button (click)='toggleActivo(inmueble)' class="btn btn-sm btn-warning float-end" [ngClass]="{'btn-light': inmueble.activo == 'inactivo'}" >{{ inmueble.activo == 'activo' ? 'Inhabilitar' : 'Habilitar'}}</button>
            </td>
            <td>
              <button (click)="assignDelete(inmueble)" class="btn btn-sm btn-danger float-end" data-bs-toggle="modal" data-bs-target="#modalEliminar">Eliminar</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    </div>
</div>

<div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="modalEliminarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar inmueble</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro que deseas eliminar el inmueble? Esta acción no puede ser revertida.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button (click)="deleteInmueble()" type="button" data-bs-dismiss="modal" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>
