<div class="row">
  <div class="col">
    <h3 class="font-playfair mb-3">Usuarios</h3>
  </div>
  <!-- <div class="col">
    <button class="btn btn-success bg-gradient text-white rounded-0 shadow float-end">
      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-lg me-2" viewBox="0 0 16 16">
        <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
      </svg>
      Agregar propiedad
    </button>
  </div> -->
</div>
<div class="table-responsive">
  <table class="table">
    <thead class="fondo-dorado bg-gradient text-white border-0 mb-0">
      <tr class="border-0 mb-0">
        <th scope="col">Nombre</th>
        <th scope="col">Rol</th>
        <th scope="col">Email</th>
        <th scope="col">País</th>
        <th scope="col">Estado</th>
        <th scope="col">Ciudad</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <!-- HEADER CON FILTROS -->
    <thead class="fondo-dorado bg-gradient text-white border-0 mb-0">
      <tr class="border-0 mt-0">
        <th scope="col">
          <input class="form-control form-control-sm" type="text" #filtroNombre="ngModel" ngModel name="filtroNombre">
        </th>
        <th scope="col">
          <select class="form-select form-select-sm" #filtroRol="ngModel" ngModel name="filtroRol">
            <option value="">Todos</option>
            <option value="Usuario">Usuario</option>
            <option value="Agente Eagle">Agente Eagle</option>
            <option value="Usuario">Administrador</option>
          </select>
        </th>
        <th scope="col">
          <input class="form-control form-control-sm" type="text" #filtroEmail="ngModel" ngModel name="filtroEmail">
        </th>
        <th scope="col">
          <select class="form-select form-select-sm" #filtroPais="ngModel" ngModel name="filtroPais">
            <option value="">Todos</option>
            <option value="Usuario">Usuario</option>
            <option value="Agente Eagle">Agente Eagle</option>
            <option value="Usuario">Administrador</option>
          </select>
        </th>
        <th scope="col">
          <select class="form-select form-select-sm" #filtroEstado="ngModel" ngModel name="filtroEstado">
            <option value="">Todos</option>
            <option value="Usuario">Usuario</option>
            <option value="Agente Eagle">Agente Eagle</option>
            <option value="Usuario">Administrador</option>
          </select>
        </th>
        <th scope="col">
          <select class="form-select form-select-sm" #filtroCiudad="ngModel" ngModel name="filtroCiudad">
            <option value="Usuario">Usuario</option>
            <option value="Agente Eagle">Agente Eagle</option>
            <option value="Usuario">Administrador</option>
          </select>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <!-- BODY DE LA TABLA -->
    <tbody>
      <ng-container *ngFor="let usuario of usuarios">
        <tr *ngIf="((usuario.nombre.toLowerCase() + ' ' + usuario.apellido.toLowerCase()).includes(filtroNombre.value.toLowerCase()))
                    && (usuario.titulo == filtroRol.value || filtroRol.value == '')">
          <td>{{ usuario.nombre + " " + usuario.apellido }}</td>
          <td>{{ usuario.titulo }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.pais }}</td>
          <td>{{ usuario.estado }}</td>
          <td>{{ usuario.ciudad }}</td>
          <td><button (click)="setUserDetalles(usuario)" class="btn btn-sm btn-info float-end" data-bs-toggle="modal" data-bs-target="#modalDetalles">Detalles</button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  </div>



<!-- MODAL DETALLES -->
<div class="modal fade" id="modalDetalles" tabindex="-1" aria-labelledby="modalEditarLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header bg-secondary text-white">
      <h5 class="modal-title" id="exampleModalLabel">Detalles del usuario</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div *ngIf="userDetalles" class="row mb-5 justify-content-center align-items-center">
          <div class="col-3">
            <img [src]="userDetallesPicUrl | async" class="rounded-circle float-end image-resize shadow" height="150px" width="150px" alt="">
          </div>
          <div class="col-5">

            <h2>{{ userDetalles.nombre}} {{ userDetalles.apellido}}</h2>
            <h5 class="text-muted">{{ userDetalles.titulo }}</h5>
            <!-- <div class="mb-3">
              <label for="formFileSm" class="form-label">Small file input example</label>
              <input (change)="uploadFile($event)" class="form-control form-control-sm" id="formFileSm" type="file">
            </div> -->
          </div>
          <!-- <div>{{ uploadPercent | async }}</div> -->
          <!-- <a [href]="downloadURL | async">{{ downloadURL | async }}</a> -->
        </div>
        <div *ngIf="userDetalles" class="row mb-4 g-5">
          <div class="col-12 col-xl-6">
            <div class="rounded shadow pb-2">
              <div class="h3 font-playfair rounded-top text-white fondo-dorado bg-gradient py-3 mb-3 px-4">Datos personales</div>
              <div class="px-4">
                <p><span class="fw-bold">País: </span>{{ userDetalles.pais }}</p>
                <p><span class="fw-bold">Estado: </span>{{ userDetalles.estado }}</p>
                <p><span class="fw-bold">Ciudad: </span>{{ userDetalles.ciudad }}</p>
                <p *ngIf="userDetalles.infoAdicional"><span class="fw-bold">Información adicional: </span>{{ userDetalles.infoAdicional }}</p>
              </div>
            </div>

          </div>
          <div class="col-12 col-xl-6">
            <div class="rounded shadow pb-2">
              <div class="h3 font-playfair rounded-top text-white fondo-dorado bg-gradient py-3 mb-3 px-4">Información de contacto</div>
              <div class="px-4">
                <p><span class="fw-bold">Email: </span>{{ userDetalles.email }}</p>
                <p *ngIf="userDetalles.telefono1"><span class="fw-bold">Teléfono: </span>{{ userDetalles.telefono1 }}</p>
                <p *ngIf="userDetalles.telefono2"><span class="fw-bold">Teléfono secundario: </span>{{ userDetalles.telefono2 }}</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row mb-3 g-5">
          <div class="col-12">
            <div *ngIf="userDetalles && resetEmailSent" class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Se ha enviado un correo de recuperación de contraseña a {{ userDetalles.email }}.</strong> Pídele a {{userDetalles.nombre}} {{userDetalles.apellido}} que siga las instrucciones del correo para restablecer su contraseña.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div *ngIf="userDetalles && resetEmailError" class="alert alert-warning alert-dismissible fade show" role="alert">
              Error: {{resetEmailError}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
        <div *ngIf="userDetalles" class="row mb-3 g-5">
          <div class="col-12">
            <div class="mb-3">
              <button (click)="modificarRolesMode = !modificarRolesMode" class="btn btn-secondary me-2">{{ modificarRolesMode ? 'Cancelar' : 'Editar roles'}}</button>
              <button [disabled]="resetEmailSent" (click)='resetPassword(userDetalles.email)' class="btn btn-info float-end">Restablecer Contraseña</button>
            </div>
          </div>

        </div>
        <div *ngIf="userDetalles && modificarRolesMode" class="row mb-3 g-5">
          <div class="col-6">
            <strong>Roles del usuario:</strong>

            <ul class="list-group">
              <li *ngFor="let rol of userDetalles.roles" class="list-group-item">
                {{rol}}
                <button [disabled]="rol == 'usuario'" (click)="removeRole(rol)" class="btn btn-danger btn-sm float-end rounded-pill">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                  </svg>Quitar
                </button>
              </li>
            </ul>
          </div>

          <div class="col-6">
            <strong>Roles disponibles:</strong>
            <ul class="list-group">
              <li *ngIf="!userDetalles.roles.includes('agente')" class="list-group-item">
                Agente
                <button (click)="addRole('agente')" class="btn btn-success btn-sm float-end rounded-pill">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>Agregar
                </button>
              </li>
              <li *ngIf="!userDetalles.roles.includes('administrador')" class="list-group-item">
                Administrador
                <button (click)="addRole('administrador')" class="btn btn-success btn-sm float-end rounded-pill">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>Agregar
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>



    </div>
    <div *ngIf="userDetalles" class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
</div>

