  <section class="bienvenida">
    <div class="container px-5">
      <div class="row justify-content-center align-items-center h-100 min-vh-100">
        <div class="col-xs-12 col-sm-10 col-md-7 col-lg-5 col-xl-6 p-0">
          <h1 class="mb-3">
            Encuentra tu casa ideal
          </h1>
          <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eum debitis illum, perferendis recusandae vel consequatur sit ullam
            similique illo saepe amet suscipit dicta. Magnam atque itaque saepe maxime eveniet!</p>
          <div class="input-group px-5" id="">
            <input class="form-control form-control-lg shadow-lg rounded-0 border-0" type="text" placeholder="ingresa una zona" aria-label=".form-control-lg example">
            <button class="btn btn-dark spacing rounded-0 border-0 shadow-lg px-4">
              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg> -->
              BUSCAR
            </button>
          </div>
        </div>
        <div class="col px-5">
          <div class="card ms-5 mt-5 border-0 rounded-0 shadow float-end p-1 border-top border-primary border-5" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title mb-4">¡Contacta a un agente!</h5>
              <h6 class="card-subtitle mb-3 text-muted">Llama al 0412-3333798</h6>
              <h6 class="card-subtitle mb-3 text-muted">Email: ale.jf09@gmail.com</h6>
              <h6 class="card-subtitle mb-4 text-muted">Llama al 0412-3333798</h6>
              <button class="btn btn-warning border-0 rounded-0 float-end label-small spacing py-2">¡REGISTRATE GRATIS!</button>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>


  <div class="container px-5">
  <section class="bg-secondary">
    <h1>Servicios</h1>
  </section>

</div>
