.cover {
  object-fit: cover;
  object-position: center;
  // height: 30rem;
  // overflow: hidden;
}

#carouselId .carousel-item img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  overflow: hidden;
}
// .carousel-inner {
//   min-height: 50vh;
// }

// .heightCarousel {

// }


