.cover {
  object-fit: cover;
  object-position: center;
  // height: 30rem;
  // overflow: hidden;
}

#carouselId .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 60vh;
  overflow: hidden;
}

// .heightCarousel {

// }


