<div class="container pt-5">
  <div class="row">
    <div class="col">
      <h1 class="font-playfair mb-4">Menú de administrador</h1>
    </div>
  </div>

  <ul class="nav nav-tabs mb-4">
    <li class="nav-item">
      <a class="nav-link text-secondary" aria-current="page" routerLink="solicitudes" routerLinkActive="active text-black">Solicitudes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" aria-current="page" routerLink="usuarios" routerLinkActive="active text-black">Usuarios</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link text-secondary" aria-current="page" routerLink="parametros" routerLinkActive="active text-black">Parámetros</a>
    </li> -->
  </ul>

  <router-outlet></router-outlet>
</div>
