<div class="container pt-5">
  <div class="row">
    <div class="col">
      <h1 class="font-playfair mb-4">Menú de administrador</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="font-playfair mb-3">Usuarios</h3>
    </div>
    <!-- <div class="col">
      <button class="btn btn-success bg-gradient text-white rounded-0 shadow float-end">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus-lg me-2" viewBox="0 0 16 16">
          <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
        </svg>
        Agregar propiedad
      </button>
    </div> -->
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead class="fondo-dorado bg-gradient text-white border-0 mb-0">
        <tr class="border-0 mb-0">
          <th scope="col">Nombre</th>
          <th scope="col">Rol</th>
          <th scope="col">Email</th>
          <th scope="col">País</th>
          <th scope="col">Estado</th>
          <th scope="col">Ciudad</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <thead class="fondo-dorado bg-gradient text-white border-0 mb-0">
        <tr class="border-0 mt-0">
          <th scope="col">
            <input class="form-control form-control-sm" type="text">
          </th>
          <th scope="col">
            <select class="form-select form-select-sm">
              <option value="Usuario">Usuario</option>
              <option value="Agente Eagle">Agente Eagle</option>
              <option value="Usuario">Administrador</option>
            </select>
          </th>
          <th scope="col">
            <input class="form-control form-control-sm" type="text">
          </th>
          <th scope="col">
            <select class="form-select form-select-sm">
              <option value="Usuario">Usuario</option>
              <option value="Agente Eagle">Agente Eagle</option>
              <option value="Usuario">Administrador</option>
            </select>
          </th>
          <th scope="col">
            <select class="form-select form-select-sm">
              <option value="Usuario">Usuario</option>
              <option value="Agente Eagle">Agente Eagle</option>
              <option value="Usuario">Administrador</option>
            </select>
          </th>
          <th scope="col">
            <select class="form-select form-select-sm">
              <option value="Usuario">Usuario</option>
              <option value="Agente Eagle">Agente Eagle</option>
              <option value="Usuario">Administrador</option>
            </select>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
          <td>{{ usuario.cargo }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.pais }}</td>
          <td>{{ usuario.estado }}</td>
          <td>{{ usuario.ciudad }}</td>
          <td><button class="btn btn-sm btn-info float-end">Detalles</button></td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
