<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h3 class="mt-5">Aún no tienes propiedades en favoritos.</h3>
            <h6 class="mt-3">
              <span class="pe-2">Pulsa el</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
              </svg>
              <span class="ps-2">en la tarjeta de una propiedad para guardarla en favoritos.</span>
            </h6>
        </div>
    </div>
</div>
