/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
  font-family: 'Poppins', sans-serif;

}

.vh-85 {
  min-height: 85vh;
}

.fondo {
  background-color: $yellow-200;
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.fondo-dorado {
  background-color: hsl(39, 66%, 59%);
}

.font-dorado {
  color: hsl(14, 37%, 63%);
}

.label-small {
  font-size: smaller;
}

.spacing {
  letter-spacing: 2px;
}

.input {
  background-color: #E9ECEF;
}
.form-control:focus {
  box-shadow: none;
  background-color: #DEE2E6;
}

.form-check-input:focus {
  box-shadow: none;
}

.height-nav {
  // min-height: 100vh !important;
  min-height: calc(100vh - 77px) !important;
}
