<div class="bg-light bg-gradient">

  <section class="hero height-nav w-100 align-items-center d-flex position-relative" id="cta">
    <div class="container position-relative">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-8">
        <h1 class="mb-3 font-playfair frase text-white display-3">
          Expandiendo soluciones inmobiliarias.
        </h1>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6 col-xl-6">
          <p class="mb-5 text-white">Brindamos servicios profesionales de asesoramiento en toda clase de actividades de carácter inmobiliario.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7">
          <button class="btn boton-dorado bg-gradient text-white border-0 shadow me-3 mb-3">Inmuebles</button>
          <button (click)="scroll('servicios')" class="btn rounded-0 border-0  text-white mb-3">Conoce nuestros servicios</button>
        </div>
      </div>
      </div>
  </div>
</section>

  <section id="servicios" class="py-5 fondo-dorado-claro align-items-center d-flex">
    <div class="container">
      <h1 class="font-playfair text-white mb-2">Nuestros servicios</h1>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4 mt-3 gy-3 mb-3 justify-content-center">

        <div class="col">
          <div class="card card-hover border-0 rounded h-100">
            <img src="/assets/asesoria.jpg" class="img-fluid rounded-top shadow">
            <div class="card-body pt-3 pb-0">
              <h5 class="card-title">Asesoría profesional</h5>
              <p class="card-text d-none d-sm-block">Prestamos asesoría inmobiliaria de calidad, con coherencia entre lo que ofrecemos y el resultado final. Teniendo siempre tu satisfacción como prioridad.</p>
            </div>
            <div class="card-footer bg-white border-0 pb-3 pt-2">
              <!-- <a  class="btn text-white me-3 boton-dorado bg-gradient border-0">Solicitar</a> -->
              <a (click)="scroll('asesoria')" role="button" class="font-dorado float-end pt-2 text-decoration-none stretched-link">Conocer más
                <i class="bi bi-arrow-right ms-1 fs-6"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-hover border-0 rounded h-100">
            <img src="/assets/lawyers.jpg" class="img-fluid rounded-top shadow">
            <div class="card-body pt-3 pb-0">
              <h5 class="card-title">Apoyo en trámites legales</h5>
              <p class="card-text d-none d-sm-block">Ofrecemos apoyo legal profesional, con un equipo de abogados especialistas en inmobiliaria que le brindarán tranquilidad en todo el proceso.</p>
            </div>
            <div class="card-footer bg-white border-0 pb-3 pt-2">
              <!-- <a href="#" class="btn text-white me-3 boton-dorado bg-gradient border-0">Solicitar</a> -->
              <a (click)="scroll('apoyo')" role="button" class="font-dorado float-end pt-2 text-decoration-none stretched-link">Conocer más
                <i class="bi bi-arrow-right ms-1 fs-6"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-hover border-0 rounded h-100">
            <img src="/assets/appraisal.jpg" class="img-fluid rounded-top shadow">
            <div class="card-body pt-3 pb-0">
              <h5 class="card-title">Avalúo de inmuebles</h5>
              <p class="card-text d-none d-sm-block">Realizamos un estudio y análisis minucioso de tu propiedad o acciones de empresa, para suministrarte el valor del bien que más se adapte al mercado.</p>
            </div>
            <div class="card-footer bg-white border-0 pb-3 pt-2">
              <!-- <a href="#" class="btn text-white me-3 boton-dorado bg-gradient border-0">Solicitar</a> -->
              <a (click)="scroll('avaluos')" role="button" class="font-dorado float-end pt-2 text-decoration-none stretched-link">Conocer más
                <i class="bi bi-arrow-right ms-1 fs-6"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-hover border-0 rounded h-100">
            <img src="/assets/remodeling.jpg" class="img-fluid rounded-top shadow">
            <div class="card-body pt-3 pb-0">
              <h5 class="card-title">Remodelaciones</h5>
              <p class="card-text d-none d-sm-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis, ipsa nemo. Ab, odit quod fuga est vero tempore.</p>
            </div>
            <div class="card-footer bg-white border-0 pb-3 pt-2">
              <!-- <a href="#" class="btn text-white me-3 boton-dorado bg-gradient border-0">Solicitar</a> -->
              <a (click)="scroll('remodelaciones')" role="button" class="font-dorado float-end pt-2 text-decoration-none stretched-link">Conocer más
                <i class="bi bi-arrow-right ms-1 fs-6"></i>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section id="asesoria" class="py-5 my-5 bg-light align-items-center d-flex">
    <div class="container">

      <div class="row gy-4 gx-5 align-items-center">

        <div class="col-12 col-lg-7 text-end">
          <h1 class="font-playfair mb-4">Asesoría profesional</h1>
          <p class=" ">Prestamos asesoría inmobiliaria de calidad, con coherencia entre lo que ofrecemos y el resultado final.
            Apoyamos a todos nuestros clientes de manera efectiva en todo el proceso de negociación de su patrimonio inmobiliario, entendiendo esto
            como un tesoro que proviene de años de su esfuerzo laboral, tiempo y sacrificio. Por lo tanto, brindarles al final del día la
            satisfacción de haber obtenido un excelente servicio, es vital para nosotros. Eagle entiende que más que negociar un bien inmueble,
            estamos negociando con seres humanos, que sienten, padecen y desean la menor cantidad de preocupaciones posibles.
          </p>
          <p class="">
            Por ello, Eagle cuenta con un equipo de profesionales a su disposición para hacerlos sentir seguros de que no tendrán esas
            preocupaciones. Un equipo eficiente en tiempo y calidad de respuesta, manejando honorarios muy amigables que proporcionarán tranquilidad en su bolsillo.
          </p>
            <button (click)="setServiceAndScroll('contratar', 'Asesoría profesional')" class="btn boton-dorado bg-gradient text-white">Solicitar Servicio</button>
        </div>
        <div class="col-12 col-md-5 col-lg-5 d-none d-lg-block">
          <img src="/assets/asesoria.jpg" class="img-fluid rounded shadow">
        </div>
      </div>
    </div>
  </section>

  <section id="apoyo" class="py-5 my-5 align-items-center d-flex">
    <div class="container">
      <div class="row gy-4 gx-5 align-items-center">
        <div class="col-12 col-md-5 col-lg-5 d-none d-lg-block">
          <img src="/assets/lawyers.jpg" class="img-fluid rounded shadow">
        </div>
        <div class="col-12 col-lg-7">
          <h1 class="font-playfair mb-4">Apoyo en trámites legales</h1>
          <p class="">Cuando se trata de una de las mayores inversiones en su vida, ¿por qué arriesgarse? Contar con el apoyo de un abogado de bienes raíces al
            comprar o vender un inmueble es más que simplemente contar con alguien para que lea las letras pequeñas.
            Contar con un abogado especialista inmobiliario puede ofrecer <span class="fw-bold fst-italic">Claridad, Experiencia. Protección Cierre y Ahorros.</span>
          <p>
            Los honorarios iniciales para contar con el apoyo de abogado de bienes raíces no son nada en comparación con el posible impacto financiero de hacer las cosas mal en el futuro.
            Los ahorros financieros y el conocimiento que puede brindarle un abogado de bienes raíces no tienen precio.
            Eagle le ofrece la tranquilidad de saber que usted, su familia y sus inversiones están protegidos a medida que da los siguientes pasos para adquirir o vender su propiedad.
          </p>
            <button (click)="setServiceAndScroll('contratar', 'Apoyo en trámites legales')" class="btn boton-dorado bg-gradient text-white">Solicitar Servicio</button>
        </div>
      </div>
    </div>
  </section>

  <section id="avaluos" class="py-5 my-5 bg-light align-items-center d-flex">
    <div class="container">

      <div class="row gy-4 gx-5 align-items-center">
        <div class="col-12 col-lg-7 text-end">
          <h1 class="font-playfair mb-4">Avalúo de inmuebles</h1>
          <p class=""><span class="fst-italic">Eagle Investment Projects</span> realiza un estudio o análisis minucioso sobre una propiedad determinada. Este ejercicio es el
            que suministrará el valor de un bien inmueble, como lo puede ser una casa, un apartamento, una oficina, etc.
          </p>
          <p class="">
            Realizamos también el avalúo de las acciones de una empresa como negocio en marcha, y así como también de activos tangibles, tales como bienes muebles (maquinarias, mobiliario, equipos, vehículos).
            En ciertos inmuebles de mayor envergadura nos apoyamos con especialistas acreditados por La Sociedad de Ingeniería de Tasación de Venezuela – <span class="fw-normal">SOITAVE</span> – es una asociación civil sin fines de lucro
            adscrita al Colegio de Ingenieros de Venezuela, que agrupa a los profesionales de la valuación.
          </p>
          <button (click)="setServiceAndScroll('contratar', 'Avalúo de inmuebles')" class="btn boton-dorado bg-gradient text-white">Solicitar Servicio</button>
        </div>
        <div class="col-12 col-md-5 col-lg-5 d-none d-lg-block">
          <img src="/assets/appraisal.jpg" class="img-fluid rounded shadow">
        </div>

      </div>
    </div>
  </section>

  <section id="remodelaciones" class="py-5 my-5 align-items-center d-flex">
    <div class="container">
      <div class="row gy-4 gx-5 align-items-center">
        <div class="col-12 col-md-5 col-lg-5  d-none d-lg-block">
          <img src="/assets/remodeling.jpg" class="img-fluid rounded shadow">
        </div>
        <div class="col-12 col-lg-7">
          <h1 class="font-playfair mb-4">Remodelaciones</h1>
          <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, architecto illum blanditiis ipsam similique eveniet veritatis maiores error. Voluptatibus facilis eos rerum aut eveniet non cum harum minus quis obcaecati?</p>
            <button (click)="setServiceAndScroll('contratar', 'Remodelaciones')" class="btn boton-dorado bg-gradient text-white">Solicitar Servicio</button>
        </div>
      </div>
    </div>
  </section>

  <section id="contratar" class="py-5 align-items-center d-flex bg-white">
    <div class="container">

      <div class="row gy-4 gx-5 align-items-center">

        <div class="col">
          <h1 class="font-playfair mb-5 display-4 text-end">Solicita nuestros servicios</h1>
          <p class="text-end fs-4">
            Desde Eagle Investment Projects te damos la bienvenida al primer paso de asesoría profesional para prestarle apoyo en cualquiera de nuestros servicios.
            Llena el formulario y un representante de Eagle se pondra en contacto contigo en la brevedad posible.
          </p>
          <p class="text-end fs-4">¡Gracias por confiar en Eagle!</p>
        </div>
        <div class="col-12 col-md-11 col-lg-4 offset-md-1">
          <div class="card shadow border-0 bg-light">
            <div class="card-body p-4">
              <div class="div">
                <div class="text-center">
                  <div *ngIf="sendingSolicitud" class="spinner-grow" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>

              <div *ngIf="!sendingSolicitud && sentSolicitud" class="text-center">
                <p><i class="bi bi-check-circle-fill fs-1 text-success"></i></p>
                <p>¡Muy bien!, tu solicitud se ha enviado satisfactoriamente, te contactaremos en la brevedad possible.</p>
              </div>
              <form *ngIf="!sendingSolicitud && !sentSolicitud" #formSolicitud="ngForm" (ngSubmit)="onHacerSolicitud(formSolicitud)">
                <div class="row">
                  <div class="col-12 col-md">
                    <div class="mb-3">
                      <label for="nombres" class="form-label">Nombre</label>
                      <input ngModel name="nombres" required type="text" class="form-control" id="nombres">
                    </div>
                  </div>
                  <div class="col-12 col-md">
                    <div class="mb-3">
                      <label for="apellidos" class="form-label">Apellido</label>
                      <input ngModel name="apellidos" required type="text" class="form-control" id="apellidos">
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input ngModel name="email" required type="email" class="form-control" id="email">
                </div>
                <div class="mb-3">
                  <label for="telefono" class="form-label">Teléfono</label>
                  <input ngModel name="telefono" required type="text" class="form-control" id="telefono">
                </div>
                <div class="mb-3">
                  <label for="servicio" class="form-label">Servicio que desea</label>
                  <select ngModel [ngModel]='selectedService' name="servicio" required class="form-select" id="servicio" aria-label="Default select example">
                    <option value="0">Seleccione uno</option>
                    <option value="Asesoría profesional">Asesoría profesional</option>
                    <option value="Avalúo de inmuebles">Avalúo de inmuebles</option>
                    <option value="Apoyo en trámites legales">Apoyo en trámites legales</option>
                    <option value="Remodelaciones">Remodelaciones</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="infoAdicional" class="form-label">Información adicional que desee compartir (Opcional)</label>
                  <textarea ngModel name="infoAdicional" class="form-control" id="infoAdicional" rows="3"></textarea>
                </div>
                <button [disabled]="!formSolicitud.valid" type="submit" class="btn boton-dorado bg-gradient text-white float-end">Enviar solicitud</button>
              </form>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
</div>
