.frase {
  font-size: 4vw;
}

#cta {
  background-image: url("/../../assets/caracas.jpg");
  background-size: cover;
  background-position: center bottom;
}

// .input-group {
//   padding: 0px 7em;
// }
.gradient {
  background-image: var(--bs-gradient);
}

.font-playfair {
  font-weight: 400;
  // color: #C38D7C;
}

#servicios {
  background-color: hsl(14, 37%, 68%);
  background-image: var(--bs-gradient);
}

.card-title {
  font-weight: 600;
}

.border-dorado {
  border-color: #c48e7e;
  border-width: thick 0 0 0;
}

#breathing-button {
  -webkit-animation: breathing 5s ease-out infinite normal;
  animation: breathing 5s ease-out infinite normal;
  -webkit-font-smoothing: antialiased;
  }

  // .bienvenida {
  //   // background-image: url('../../assets/city1.jpg');
  //   // background-size: cover;
  // }


@-webkit-keyframes breathing {
0% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

25% {
  -webkit-transform: scale(1);
  transform: scale(1);
}

60% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

100% {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
}

@keyframes breathing {
0% {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

25% {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

60% {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

100% {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
}

